/* CSS exercise 3 */

.red-square {
    width: 80px;
    height: 80px;
    color: white;
    padding: 20px;
    margin: 10px;
    font-size: 14px;
    background-color: rgba(255,0,0,0.4);
    display: inline-block;
}


/* CSS exercise 4 */
#person {
    background-color: #FF0;
    color: blue;
    width: 80px;
    height: 80px;
    padding: 20px;
    text-align: center;    
    border: solid green 4px;
    display: inline-block;
}

.magenta-circle {
    background-color: magenta;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: inline-block;
}


/* CSS exercise 5 */
.cascading-parent {
    font-weight: bold;
    color: #FFF;
    font-size: 20px;
}

.cascading-child {
    background-color: #000;
    color: #FF0 !important;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px;
    display: inline-block;
}

.cascading-child-2 {
    background-color: yellow;
    background-image: radial-gradient(white 1.6px, transparent 0);
    background-size: 10px 10px;
    color: #000 !important;
    width: 200px;
    height: 200px;
    border-radius: 5% 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}